<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if process.env.ELEVENTY_ENV === 'prod' %}
      <style>/* bento-dev.css */</style>
  {% else %}
    <link rel="stylesheet" href="/assets/css/bento-dev.css">
  {% endif %}
  {% if noindex -%}
    <meta name="robots" content="noindex">
  {%- endif %}
  <title>{{ title }} | bento.dev</title>
</head>
<body>
  {% block header %}
    {% include 'partials/header.njk' %}
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
    {% include 'partials/footer.njk' %}
  {% endblock %}
</body></html>