<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preload" href="/assets/fonts/inter-latin.var.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto-mono-latin.var.woff2" as="font" crossorigin>
    {% if process.env.ELEVENTY_ENV === 'prod' %}
      <style>/* bento-dev.css */</style>
  {% else %}
    <link rel="stylesheet" href="{{ helpers.addHashQueryParam('/assets/css/bento-dev.css') }}">
  {% endif %}
  {% if noindex -%}
    <meta name="robots" content="noindex">
  {%- endif %}
  <title>{{ title }} | {{ 'i18n.misc.page_title' | i18n(locale) }}</title>

  <script src="{{ helpers.addHashQueryParam('/assets/js/all.js') }}" async></script>
  {% block head %}{% endblock %}
</head>
<body>
  {% block header %}
    {% include 'partials/header.njk' %}
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
    {% include 'partials/footer.njk' %}
  {% endblock %}
</body></html>