{% extends "layouts/base.njk" %}
{% block content %}
  <main class="bd-page bd-page__container bd-theme--light">
    <div class="bd-page-component">
      <div class="bd-page-component__sidebar">
        {%- include '../partials/components/sidebar.njk' -%}
      </div>
      <div class="bd-page-component__main">
        {{ content | safe }}
      </div>
      <aside class="bd-page-component__toc">
        <h3>Table of contents</h3>
        {{ content | toc | safe }}
      </aside>
    </main>
  </div>
{% endblock %}