{% extends "layouts/base.njk" %}
{% block content %}
<script type="text/javascript">
  const MODAL_CLASS = '--open-modal';
  const btnComponents = "#bd-button-components";
  const btnToc = "#bd-button-toc";
  const ICON_CLOSE_CLASS = ".bd-modal__close";

  function closeModals() {
    const modals = document.querySelectorAll('.bd-modal');
    Array.from(modals).forEach((el) => el.classList.remove(MODAL_CLASS));
  }

  function openModal(id) {
    const modal = document.querySelector(id);
    if (!modal.classList.contains(MODAL_CLASS)) {
      closeModals();
    }
    modal.classList.toggle(MODAL_CLASS);
  }

  window.onload = function () {
    document.querySelector(btnComponents).addEventListener('click', function() {
      openModal("#bd-components");
    });
    document.querySelector(btnToc).addEventListener('click', function() {
      openModal("#bd-toc");
    });
    const icons = document.querySelectorAll(ICON_CLOSE_CLASS);
    Array.from(icons).forEach((el) => el.addEventListener('click', function() {
      closeModals();
    }));
  }
</script>

<main class="bd-page-components bd-theme--light">
  <div class="bd-page-components-container">
    <div class="bd-page-components-container__sidebar">
      {%- include 'partials/components/sidebar.njk' -%}
      <div class="vertical-divider"></div>
    </div>
    <div class="bd-page-components-container__main">
      <svg class="bd-page-components-background">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/assets/assets.svg#icon-logo-bento"
        ></use>
      </svg>
      {{ content | safe }}
    </div>
    <aside class="bd-page-components-container__toc">
      <h3>Table of contents</h3>
      {{ content | toc | safe }}
    </aside>
  </div>
</main>
{% endblock %}
{% block footer %}
<div class="bd-components-footer">
  <div class="bd-components-footer__mobile">
    {%- include 'partials/components/mobile-footer.njk' -%}

  </div>
  <div class="bd-components-footer__default">
    {% include 'partials/footer.njk' %}
  </div>
</div>
{% endblock %}
