{% extends "layouts/base.njk" %}
{% block content %}

<main class="bd-page-blog-post bd-theme--light">
  <svg class="bd-page-blog-post__background">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="/assets/assets.svg#icon-logo-bento"
    ></use>
  </svg>
  <div class="bd-page-blog-post-container">
    <div class="bd-link-wrapper">
      <a class="bd-link" href="/en/blog">← {{ 'i18n.post.overview' | i18n(locale) }}</a>
    </div>
    {{ content | replace("<p><img", "<figure><img") | replace("></p>", "></figure>") | safe }}
    {%- include 'partials/blog/navigation-footer.njk' -%}
  </div>
</main>
<section class="bd-banner-subscribe">
  <div class="bd-banner-subscribe__container">
    <h2>{{ 'i18n.post.subscribe.headline' | i18n(locale) }}</h2>
    <button class="bd-button">{{ 'i18n.post.subscribe.cta' | i18n(locale) }}</button>
  </div>
</section>
{% endblock %}