@import '../components/link';

.bd-page-components {
  width: 100vw;

  .bd-page-components-container {
    margin: var(--spacing-xxl) auto 0;
    display: flex;
    flex-direction: column;
    width: 90%;

    @include media('medium') {
      margin: 80px auto 0;
      display: grid;
      grid-template-columns: 1fr minmax(auto, 55%) 1fr;
      width: 95%;
    }

    @include media('xxlarge') {
      width: 65%;
    }

    &__sidebar {
      display: none;

      @include media('medium') {
        display: flex;
      }

      a {
        font-size: 14px;
      }

      .vertical-divider {
        width: 2px;
        height: 200px;
        border-radius: 2px;
        margin: 0 auto;
        background-color: var(--burnt-sienna);
      }
    }

    &__toc {
      display: none;

      @include media('medium') {
        display: block;
      }

      h3 {
        color: var(--maastricht-blue);
        font-size: var(--font-size-18);
        font-weight: bold;
        line-height: 1.33;
        margin-bottom: var(--spacing-s);
      }

      ol {
        margin: 0;
        padding-inline-start: var(--spacing-s);
        &:first-child {
          padding: 0;
        }

        a {
          @include link;
          font-size: 14px;
          color: var(--independence);
        }
      }
    }

    &__main {
      .bd-page-components-background {
        position: absolute;
        z-index: 1;
        opacity: 0.1;
        right: -15%;
        top: 20%;
        transform: rotate(160deg) rotateY(180deg) scale(1.6);

        @include media('medium') {
          right: 10%;
          top: 50%;
          transform: rotate(160deg) rotateY(180deg) scale(4);
        }
      }

      h1 {
        margin-bottom: var(--spacing-xxl);
      }

      h2,
      p,
      pre[class*='language-'] {
        margin-bottom: var(--spacing-s);
      }

      p,
      a {
        color: var(--independence);
      }
    }
  }
}
