.bd-page-components-overview {
  width: 100vw;

  &-container {
    margin: var(--spacing-xxl) auto;
    display: flex;
    flex-direction: column;
    width: 92%;

    @include media('large') {
      margin: 80px auto;
      display: grid;
      grid-template-areas: 'sidebar main toc';
      grid-template-columns: max-content auto max-content;
      column-gap: var(--spacing-m);
    }

    @include media('xlarge') {
      grid-template-columns: 1fr 4fr 1fr;
      column-gap: var(--spacing-xxl);
    }

    @include media('xxlarge') {
      width: 1300px;
    }

    #bd-components-target {
      grid-area: sidebar;
    }

    #bd-toc-target {
      grid-area: toc;
      z-index: 50;
    }

    &__main {
      grid-area: main;
      position: relative;
      z-index: 50;

      .bd-page-components-overview-background {
        position: absolute;
        object-fit: contain;
        opacity: 0.1;
        top: 0;
        right: -25%;
        transform: rotate(160deg) rotateY(180deg) scale(1.6);
        z-index: -1;

        @include media('medium') {
          top: 1%;
          transform: rotate(160deg) rotateY(180deg) scale(4);
        }
      }

      h1 {
        font-weight: var(--bold);
        font-size: var(--font-size-34);
        line-height: 1.18;
        letter-spacing: -0.5px;

        @include media('xlarge') {
          font-size: var(--font-size-48);
        }
      }

      h2 {
        font-size: var(--font-size-26);
        letter-spacing: -0.2px;
        line-height: 1.23;

        @include media('xlarge') {
          font-size: var(--font-size-34);
        }
      }
    }
  }
}

.bd-cards {
  margin-block: var(--spacing-xxl);

  h2 {
    margin-block-end: var(--spacing-m);

    @include media('medium') {
      margin-block-end: var(--spacing-xl);
    }
  }

  .bd-card {
    display: grid;
    gap: var(--spacing-xs);
    grid-row: 1;
    grid-template-rows: auto auto;
    height: 90%;

    &:hover {
      transform: translateY(-0.125em);
      box-shadow: 0 25px 20px -15px rgba(0, 43, 57, 0.15);
    }

    @include media('medium') {
      grid-row: auto;
      height: auto;
    }

    &-group {
      --spacer-inline: calc(var(--spacing-xs) * 1.25);
      display: grid;
      gap: var(--spacing-m);
      grid-auto-columns: 80%;
      left: calc(var(--spacer-inline) * -1);
      min-height: 250px;
      overflow-x: scroll;
      padding-inline: var(--spacer-inline);
      position: relative;
      scroll-snap-type: x proximity;
      width: 103vw;

      &::-webkit-scrollbar {
        display: none;
      }

      @include media('medium') {
        grid-template-columns: 1fr 1fr;
        left: unset;
        overflow: visible;
        padding-inline: unset;
        width: 100%;
      }

      @include media('xlarge') {
        grid-template-columns: minmax(auto, 400px) minmax(auto, 400px);
      }
    }

    &__title {
      font-size: var(--font-size-18);
      font-weight: var(--semi-bold);
      line-height: 1.33;
      color: inherit;
    }

    &__body {
      font-size: 14px;
      font-weight: var(--normal);
      line-height: 1.71;
      letter-spacing: 0.2px;
      color: inherit;
    }
  }
}

.bd-components-list {
  ul {
    color: var(--independence);
    margin: 0;
    padding: 0;

    li:not(:last-of-type) {
      border-block-end: solid 2px var(--bright-gray);
    }
  }

  h3 {
    font-size: var(--font-size-18);
    font-weight: var(--bold);
    line-height: 1.33;
    margin-block: var(--spacing-xl) var(--spacing-s);

    @include media('xlarge') {
      font-size: var(--font-size-21);
      margin-block: var(--spacing-xxl) var(--spacing-l);
    }
  }

  h6 {
    font-size: 14px;
    font-weight: var(--bold);
    letter-spacing: 0.2px;
    line-height: 1.71;
    margin-block: var(--spacing-xs) var(--spacing-xxs);
  }

  p {
    margin-block-end: var(--spacing-xs);
  }

  @include media('large') {
    li {
      display: flex;
      justify-content: space-between;

      p {
        width: 60%;
      }

      h6,
      p {
        margin-block: var(--spacing-xs);
      }
    }
  }
}
