@mixin background-image {
  display: block;
  position: absolute;
  z-index: -1;
  object-fit: contain;
  opacity: 0.1;
}

.bd-page__container.bd-theme--dark {
  row-gap: 15rem;
}

.bd-demo {
  &-bg {
    position: relative;

    &__image {
      display: none;

      @include media('medium') {
        @include background-image;
        right: -10%;
        top: 100%;
        transform: rotateY(180deg) scale(4);
      }
    }
  }

  &-container {
    height: 700px;
    width: 700px;
    position: relative;
    margin: var(--spacing-xl) 0 0 0;

    @include media('medium') {
      margin: 0 0 0 60px;
    }
  }

  &__code,
  &__image {
    height: 50%;
    width: 90%;
    position: absolute;

    @include media('medium') {
      height: 70%;
      width: 85%;
    }
  }

  &__code {
    pre {
      height: 100%;
      overflow: hidden;
    }
  }

  &__image {
    z-index: 2;
    left: 10%;
    top: 10%;

    @include media('medium') {
      left: 50%;
      top: 25%;
    }
  }
}

.bd-latest-news {
  margin-bottom: 276px;
  position: relative;
  z-index: 50;

  &__bg-image {
    &--left {
      display: none;
      @include media('medium') {
        @include background-image;
        top: 50%;
        left: -20%;
        transform: rotateY(180deg) scale(3.5);
      }
    }

    &--right {
      display: none;
      @include media('medium') {
        @include background-image;
        top: 25%;
        right: -20%;
        transform: rotateY(180deg) scale(3.5);
      }
    }
  }
}
