<div class="bd-card-image-group">
  <div class="bd-card-image bd-card-image--one bd-card--burnt-sienna">
    {% image "./assets/img/image-1-1-copy.webp", "Better video performance" %}
    <p class="bd-card-image__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card-image__footer">August 26, 2021</p>
  </div>
  <div class="bd-card-image bd-card-image--two bd-card--elephant-green">
    <p class="bd-card-image__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card-image__footer">August 26, 2021</p>
  </div>
  <div class="bd-card-image bd-card-image--three bd-card--naples-yellow">
    <p class="bd-card-image__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card-image__footer">August 26, 2021</p>
  </div>
  <div class="bd-card-image bd-card-image--four bd-card--light-sea-green">
    {% image "./assets/img/image-1-1-copy-2.webp", "Web Stories" %}
    <p class="bd-card-image__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card-image__footer">August 26, 2021</p>
  </div>
</div>