{% set colors = cycler('burnt-sienna', 'elephant-green', 'naples-yellow', 'light-sea-green') %}
{% set indizes = cycler('one', 'two', 'three', 'four') %}
<div class="bd-card-image-group" role="list">
  {% for post in collections.posts %}
    <a class="bd-card bd-card-image bd-card-image--one bd-card-image--{{ indizes.next() }} bd-card--{{ colors.next() }}" href="{{ post.url }}" role="listitem">
      {% if post.data.image %}
        {% image post.data.image, post.data.title %}
      {% endif %}
      <p class="bd-card-image__body">
        {{ post.data.title }}
      </p>
      <p class="bd-card-image__footer">{{ post.data.date | date }}</p>
    </a>
  {% endfor %}
</div>