<div class="bd-card-group">
  <div class="bd-card--one bd-card--burnt-sienna">
    {% image "./assets/img/image-1-1-copy.webp", "Better video performance" %}
    <p class="bd-card__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card__footer">August 26, 2021</p>
  </div>
  <div class="bd-card--two bd-card--elephant-green">
    <p class="bd-card__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card__footer">August 26, 2021</p>
  </div>
  <div class="bd-card--three bd-card--naples-yellow">
    <p class="bd-card__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card__footer">August 26, 2021</p>
  </div>
  <div class="bd-card--four bd-card--light-sea-green">
    {% image "./assets/img/image-1-1-copy-2.webp", "Web Stories" %}
    <p class="bd-card__body">
      Lorem ipsum dolor sit rest est in amet ner di moin
    </p>
    <p class="bd-card__footer">August 26, 2021</p>
  </div>
</div>