{% set colors = cycler('burnt-sienna', 'elephant-green', 'naples-yellow', 'light-sea-green') %}
<div class="bd-card-group">
  {%- for card in cardGroup.pages -%}
    <a class="bd-card {% if cardGroup.color %}bd-card--{{ colors.next() }}{% else %}bd-card--white{% endif %}" href="{{ card.url }}">
      <span class="bd-card__title">{{ card.data.title | safe }}</span>
      <span class="bd-card__body">{{ card.data.description | safe }}</span>
    </a>
  {%- endfor -%}
</div>