<section class="bd-demo">
  <bento-selector id="bd-demo-selector">
    <button option="bd-demo-carousel" class="bd-button--light --uppercase">carousel</button>
    <button option="bd-demo-accordion" class="bd-button--light --inverted --uppercase">accordion</button>
    <button option="bd-demo-sidebar" class="bd-button--light --inverted --uppercase">sidebar</button>
    <button option="bd-demo-social-share" class="bd-button--light --inverted --uppercase">social share</button>
  </bento-selector>

  {% set examples = "../../iframes/homepage-examples/" %}

  <div class="bd-demo-code">
    <div class="bd-demo-code__snippet">
      <div id="bd-demo-carousel" class="bd-demo-code-sample">
        {% highlight 'html' %}
        {%- include examples + 'bd-demo-carousel.njk' -%}
        {% endhighlight %}
      </div>
      <div id="bd-demo-accordion" class="bd-demo-code-sample --hide">
        {% highlight 'html' %}
        {%- include examples + 'bd-demo-accordion.njk' -%}
        {% endhighlight %}
      </div>
      <div id="bd-demo-sidebar" class="bd-demo-code-sample --hide">
        {% highlight 'html' %}
        {%- include examples + 'bd-demo-sidebar.njk' -%}
        {% endhighlight %}
      </div>
      <div id="bd-demo-social-share" class="bd-demo-code-sample --hide">
        {% highlight 'html' %}
        {%- include examples + 'bd-demo-social-share.njk' -%}
        {% endhighlight %}
      </div>
    </div>
    <div class="bd-demo-code__result">
      <iframe id="bd-demo-iframe" src="{{examples}}bd-demo-carousel/index.html"></iframe>
    </div>
  </div>
</section>
