<div class="bd-row__column --vertical">
  <button class="bd-button--light --uppercase">carousel</button>
  <button class="bd-button--light --inverted --uppercase">animation</button>
  <button class="bd-button--light --inverted --uppercase">accordion</button>
  <button class="bd-button--light --inverted --uppercase">autocomplete</button>
</div>

<div class="bd-row__column --grow">
  <div class="bd-demo-container">
    <div class="bd-demo__code">
{% highlight 'html' %}
<head>
  <script src="https://cdn.ampproject.org/custom-elements-polyfill.js"></script>
  <!-- These styles prevent Cumulative Layout Shift on the unupgraded custom element -->
  <style data-bento-boilerplate>
    bento-base-carousel {
      display: block;
      overflow: hidden;
      position: relative;
    }
  </style>
  <!-- TODO(wg-bento): Once available, change src to bento-base-carousel.js -->
  <script
    async
    src="https://cdn.ampproject.org/v0/amp-base-carousel-1.0.js"
  ></script>
  <style>
    bento-base-carousel,
    bento-base-carousel > div {
      aspect-ratio: 4/1;
    }
    .red-gradient {
      background: brown;
      background: linear-gradient(
        90deg,
        brown 50%,
        lightsalmon 90%,
        wheat 100%
      );
    }
  </style>
</head>
{% endhighlight %}
    </div>
    <img
      class="bd-demo__image"
      src="/assets/img/group-17.webp"
      alt="Demo image"
    />
  </div>
</div>
