{# Caution, this file is exactly idented as it needs to be.
Do not change formatting this would break rendering. #}

<section class="bd-example">
<header class="bd-example-toggle">
{% if iframe -%}
<button class="bd-example-toggle-option --active --code">Code</button>
<button class="bd-example-toggle-option --preview">Preview</button>
{% endif -%}
</header>
<div class="bd-example-code">
{{ source|safe }}
</div>

{% if iframe %}
<div class="bd-example-preview --hidden">
<iframe src="{{ iframe }}"></iframe>
</div>
{% endif %}
</section>