<div class="bd-react-sample">
<h2>Example: BentoFitText</h2>

<div class="bd-react-sample__code">
{% highlight 'html' %}
npm install @ampproject/bento-fit-text
{% endhighlight %}
</div>

<div class="bd-react-sample__code">
{% highlight 'html' %}
import React from "react";
import { BentoFitText } from "@ampproject/bento-fit-text/react";
import "@ampproject/bento-fit-text/styles.css";
function App() {
  return (
    <BentoFitText>
      Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque
      inermis reprehendunt.
    </BentoFitText>
  );
}
{% endhighlight %}
</div>
</div>