<div class="bd-web-component-sample">
<h2>Install example `bento-fit-text` via npm</h2>

<div class="bd-web-component-sample__code">
{% highlight 'html' %}
npm install @ampproject/bento-fit-text
{% endhighlight %}
</div>

<div class="bd-web-component-sample__code">
{% highlight 'html' %}
import '@ampproject/bento-fit-text';
{% endhighlight %}
</div>

<h2 class="spacer-xxl">Included example `bento-fit-text`via script tag</h2>

<div class="bd-web-component-sample__code">
{% highlight 'html' %}
<head>
  <script src="https://cdn.ampproject.org/custom-elements-polyfill.js"></script>
  <!-- These styles prevent Cumulative Layout Shift on the unupgraded custom element -->
  <script async custom-element="bento-fit-text" src="https://cdn.ampproject.org/v0/bento-fit-text-1.0.js"></script>
  <style data-bento-boilerplate>
    bento-fit-text {
      display: block;
      overflow: hidden;
      position: relative;
    }
  </style>
</head>
<bento-fit-text id="my-fit-text">
  Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque
  inermis reprehendunt.
</bento-fit-text>
<div class="buttons" style="margin-top: 8px;">
  <button id="font-button">Change max-font -size</button>
  <button id="content-button">Change content</button>
</div>

<script>
  (async () => {
    const fitText = document.querySelector('#my-fit-text');
    await customElements.whenDefined('bento-fit-text');

    // set up button actions
    document.querySelector('#font-button').onclick = () => fitText.setAttribute('max-font-size', '40');
    document.querySelector('#content-button').onclick = () => fitText.textContent = 'new content';
  })();
</script>
{% endhighlight %}
</div>
</div>