@mixin card {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 43, 57, 0.15);
}

.bd-card {
  @include card;

  &--white {
    background-color: var(--white);
  }

  &--elephant-green {
    background-color: var(--elephant-green);
    color: var(--white);
  }

  &--burnt-sienna {
    background-color: var(--burnt-sienna);
    color: var(--white);
  }

  &--naples-yellow {
    background-color: var(--naples-yellow);
    color: var(--maastricht-blue);
  }

  &--light-sea-green {
    background-color: var(--light-sea-green);
    color: var(--white);
  }
}
