@mixin card {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 25px 60px 0 rgba(0, 0, 0, 0.1);
  }
}

.bd-card {
  @include card;

  &--white {
    background-color: var(--white);
    color: var(--independence);
  }

  &--elephant-green {
    background-color: var(--elephant-green);
    color: var(--white);
  }

  &--burnt-sienna {
    background-color: var(--burnt-sienna);
    color: var(--white);
  }

  &--naples-yellow {
    background-color: var(--naples-yellow);
    color: var(--maastricht-blue);
  }

  &--light-sea-green {
    background-color: var(--light-sea-green);
    color: var(--white);
  }
}
