/* PrismJS 1.25.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  @include media('medium') {
    font-size: 14px;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #002b39;
  border-radius: 8px;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8fa8b8;
}

.token.attr-name {
  color: #eb6f57;
}

.token.punctuation,
.token.tag,
.token.namespace,
.token.deleted {
  color: #72d7ff;
}

.token.function-name {
  color: #6196cc;
}

.token.number {
  color: #dfbfff;
}

.token.boolean,
.token.function {
  color: #f28779;
}

.token.property {
  color: #71cdbd;
}

.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #fff;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #71cdbd;
}

.token.operator,
.token.entity,
.token.url {
  color: #f29e74;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

/* CSS Specifc rules */
.language-css {
  color: #e486be;
}
