@mixin link {
  background-image: linear-gradient(var(--burnt-sienna), var(--burnt-sienna));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  color: inherit;
  font-size: var(--font-size-16);
  font-stretch: normal;
  font-style: normal;
  font-weight: var(--semi-bold);
  letter-spacing: normal;
  line-height: var(--line-height-32);
  padding-block-end: 3px;
  position: relative;
  transition: background-size 0.25s;

  &:hover,
  &:focus {
    background-size: 100% 2px;
  }
}

.bd-link {
  @include link;
}

.bd-link-wrapper {
  display: inline-flex;
}
