@mixin modal {
  position: absolute;
  padding: var(--spacing-m);
  bottom: 0;
  width: 100vw;
  height: 85vh;
  transition: all linear 0.6s;
  border-radius: 16px 16px 0 0;
  transform: translateY(100vh);
  &.--open-modal {
    transform: translateY(0);
  }
}

.bd-modal {
  &--burnt-sienna {
    @include modal;
    background-color: var(--burnt-sienna);
  }

  &--light-sea-green {
    @include modal;
    background-color: var(--light-sea-green);
  }
}
