.bd-page {
  width: 100vw;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    padding-inline: calc(var(--spacing-xs) * 1.25);

    @include media('medium') {
      padding-inline: var(--spacing-l);
    }

    @include media('large') {
      padding-inline: calc(var(--spacing-xl) * 1.1);
    }

    @include media('xlarge') {
      padding-inline: calc(var(--spacing-xxl) * 1.18);
    }

    @include media('xxlarge') {
      padding-inline: 25vw;
    }
  }

  &__divider {
    margin-block-start: calc(var(--spacing-xxl) * 1.5);
    border: 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      border-top: 10px solid var(--naples-yellow);
    }
  }
}
