.bd-page {
  width: 100vw;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 90%;

    @include media('xlarge') {
      max-width: var(--max-content-width);
    }
  }

  &__divider {
    border: 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      border-top: 10px solid var(--naples-yellow);
    }
  }
}
