.bd-page {
  width: 100vw;
  display: flex;
  flex-direction: column;

  &.--component {
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    @include media('medium') {
      padding: 0 3rem;
    }

    @include media('max') {
      padding: 0 10rem;
    }
  }

  &__divider {
    margin-top: 240px;
    border: 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      border-top: 10px solid var(--naples-yellow);
    }
  }
}
