.bd-row {
  display: flex;
  flex-direction: column;

  &__col-2 > &__column,
  &__col-3 > &__column,
  &__col-1-2 > &__column {
    flex: 1 1 100%;
  }

  &__col-3 > &__column {
    display: flex;
    flex-wrap: wrap;

    & button {
      flex: 1 1 45%;
      margin-bottom: var(--spacing-xs);
    }
  }

  @include media('large') {
    flex-direction: row;

    &__col-2 > &__column {
      flex: 0 1 50%;
      max-width: 50%;
    }

    &__col-3 > &__column {
      flex: 0 1 30%;

      &.--vertical {
        display: flex;
        flex-direction: column;
        margin-top: var(--spacing-xxl);

        & * {
          margin-bottom: var(--spacing-s);
          flex: 0;
        }
      }

      &.--grow {
        flex-grow: 1;
      }
    }

    &__col-1-2 &__column {
      &:nth-of-type(1) {
        flex: 1 0 33%;
      }

      &:nth-of-type(2) {
        flex: 1 1 66%;
        width: 60%;
      }
    }
  }

  &--reverse {
    flex-direction: column-reverse;

    @include media('medium') {
      flex-direction: row;
    }
  }
}
