.bd-row {
  display: flex;
  flex-direction: column;

  &__col-2 > &__column,
  &__col-3 > &__column {
    flex: 1 1 100%;
  }

  @include media('medium') {
    flex-direction: row;

    &__col-2 > &__column {
      flex: 0 1 50%;
    }

    &__col-3 > &__column {
      flex: 0 1 30%;

      &.--vertical {
        display: flex;
        flex-direction: column;

        & * {
          margin-bottom: var(--spacing-24);
        }
      }

      &.--grow {
        flex-grow: 1;
      }
    }
  }

  &--reverse {
    flex-direction: column-reverse;

    @include media('medium') {
      flex-direction: row;
    }
  }
}
