.bd-section {
  &__title {
    font-family: var(--font-sans);
    font-size: var(--font-size-34);
    font-weight: var(--bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--line-height-40);
    letter-spacing: -0.5px;
    color: inherit;
    margin-bottom: var(--spacing-24);

    @include media('medium') {
      font-size: var(--font-size-48);
      line-height: var(--line-height-56);
    }
  }

  &__body {
    font-family: var(--font-sans);
    font-size: var(--font-size-16);
    font-weight: 350;
    color: inherit;
    line-height: var(--line-height-32);
    margin-bottom: var(--spacing-24);

    @include media('medium') {
      font-size: var(--font-size-18);
      line-height: var(--line-height-32);
      margin-bottom: var(--spacing-50);
    }
  }

  &__image {
    width: 335px;
    margin-bottom: var(--spacing-48);

    @include media('medium') {
      width: auto;
      margin-right: 60px;
    }
  }

  &.--spacer-64 {
    margin-top: var(--spacing-48);

    @include media('medium') {
      margin-top: var(--spacing-64);
    }
  }

  &.--spacer {
    margin-top: calc(var(--spacing-64) * 2);

    @include media('medium') {
      margin-top: calc(var(--spacing-64) * 4);
    }
  }
}
