.bd-sidebar {
  @include media('large') {
    display: none;
  }

  &__target {
    display: none;

    @include media('large') {
      display: block;
    }
  }

  &__contents {
    padding: var(--spacing-s);

    @include media('large') {
      padding: 0;
    }

    &--components {
      ul {
        padding: 0;
        margin: 0;
      }

      h2 {
        font-weight: var(--bold);
        font-size: var(--font-size-34);
        line-height: 1.18;
        letter-spacing: -0.5px;
        margin-block-end: var(--spacing-xs);

        &:not(:first-child) {
          margin-block-start: var(--spacing-m);
        }
      }

      a {
        font-size: 14px;
      }
    }

    &--toc {
      h3 {
        color: var(--maastricht-blue);
        font-size: var(--font-size-18);
        font-weight: bold;
        line-height: 1.33;
        margin-bottom: var(--spacing-s);
      }

      ol {
        margin: 0;
        padding-inline-start: var(--spacing-s);
        padding-block: var(--spacing-xs);
        &:first-child {
          padding: 0;
        }

        a {
          @include link;
          font-size: 14px;
          color: var(--independence);
        }
      }

      // Hides references to H4
      ol li > ol li > ol {
        display: none;
      }
    }
  }
}
