.bd-stage {
  z-index: 50;
  position: relative;

  &__bg-image {
    position: absolute;
    object-fit: contain;
    z-index: -1;
    right: -25%;
    top: 10%;
    transform: rotateY(180deg) rotate(120deg) scale(2);

    @include media('medium') {
      right: -15%;
      top: 35%;
      transform: rotateY(180deg) rotate(30deg) scale(3.2);
    }

    @include media('large') {
      right: -5%;
      top: 30%;
      transform: rotateY(180deg) rotate(30deg) scale(3);
    }

    @include media('xlarge') {
      right: 3%;
      top: 45%;
      transform: rotateY(180deg) rotate(30deg) scale(4.5);
    }
  }

  h1 {
    color: inherit;
    font-family: var(--font-sans);
    font-size: var(--font-size-34);
    font-weight: 250;
    letter-spacing: -0.5px;
    line-height: 1.18;
    margin: calc(var(--spacing-l) * 7.25) 0 var(--spacing-s);

    @include media('medium') {
      font-size: var(--font-size-56);
      font-weight: var(--thin);
      letter-spacing: -1px;
      line-height: 1.14;
      margin: calc(var(--spacing-l) * 4.25) 0 var(--spacing-xxl);
    }

    @include media('large') {
      margin-block-start: calc(var(--spacing-l) * 4.05);
      width: 75%;
    }

    @include media('xlarge') {
      font-size: var(--font-size-72);
      letter-spacing: -1.5px;
      line-height: 1.11;
    }
  }
}
