.bd-theme {
  &--dark {
    background-color: var(--maastricht-blue);
    color: var(--white);
  }

  &--light {
    background-color: var(--white);

    h1,
    h2,
    h3 {
      color: var(--maastricht-blue);
    }

    .bd-section__body {
      font-weight: var(--light);
    }

    .bd-section__body,
    .bd-link {
      color: var(--independence);
    }
  }
}
