<head>
  <!-- These styles prevent Cumulative Layout Shift on the unupgraded custom element -->
  <style data-bento-boilerplate>
    bento-base-carousel {
      position: static !important;
    }
  </style>
  <script async src="https://cdn.ampproject.org/v0/bento-base-carousel-1.0.js"></script>
  <style>
    bento-base-carousel, bento-base-carousel > div {
      height: 100%;
    }
    picture {
      display: block !important;
      content-visibility: visible !important;
      height: 100%
    }
    picture img {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<bento-base-carousel id="my-carousel">
  {% image "./assets/img/group-19.webp", "" %}
  {% image "./assets/img/group-19-copy.webp", "" %}
  {% image "./assets/img/group-19-copy-2.webp", "" %}
</bento-base-carousel>

<script>
  (async () => {
    const carousel = document.querySelector('#my-carousel');
    await customElements.whenDefined('bento-base-carousel');
    const api = await carousel.getApi();

    // programatically advance to next slide
    api.next();
  })();
</script>