<bento-sidebar class="bd-sidebar" id="bd-toc" side="right" hidden>
  <nav class="bd-sidebar__contents bd-sidebar__contents--toc">
    <h3>Table of contents</h3>
    <ol>
      <li><a href="#guides">{{ i18n.guides }}</a></li>
      <li><a href="#highlights">{{ i18n.highlighted_components }}</a></li>
      <li><a href="#all">{{ i18n.all_components }}</a></li>
    </ol>
  </nav>
</bento-sidebar>