<nav class="toc">
  <ol>
    <li>
      <a href="#highlighted-components">{{ i18n.toc.highlighted }}</a>
    </li>
    <li>
      <a href="#components">{{ i18n.toc.components }}</a>
      <ol>
        <li>
          <a href="#advertising-analytics">{{ i18n.toc.advertising_analytics }}</a>
        </li>
        <li>
          <a href="#dynamic-content">{{ i18n.toc.dynamic }}</a>
        </li>
        <li>
          <a href="#layout">{{ i18n.toc.layout }}</a>
        </li>
        <li>
          <a href="#media">{{ i18n.toc.media }}</a>
        </li>
        <li>
          <a href="#presentation">{{ i18n.toc.presentation }}</a>
        </li>
        <li>
          <a href="#social">{{ i18n.toc.social }}</a>
        </li>
        <li>
          <a href="#social-layer">{{ i18n.toc.social_login }}</a>
        </li>
      </ol>
    </li>
  </ol>
</nav>
