<div class="bd-navigation-container">
  <hr />

  <div class="bd-button-group">
    <div class="bd-previous-container">
      <button class="bd-button">←</button>
      <h6>{{ 'i18n.post.previous' | i18n(locale) }}: Project lorem ipsum dolor sit amet eres …</h6>
    </div>
    <button class="bd-button bd-button-overview">{{ 'i18n.post.overview' | i18n(locale) }}</button>
    <div class="bd-next-container">
      <h6>{{ 'i18n.post.next' | i18n(locale) }}: Project lorem ipsum dolor sit amet eres est</h6>
      <button class="bd-button">→</button>
    </div>
  </div>
</div>
