<div class="bd-navigation-container">
  <hr />

  <div class="bd-button-group">
    <div class="bd-previous-container">
      <button class="bd-button">←</button>
      <h6>Previous: Project lorem ipsum dolor sit amet eres …</h6>
    </div>
    <button class="bd-button bd-button-overview">Overview</button>
    <div class="bd-next-container">
      <h6>Next: Project lorem ipsum dolor sit amet eres est</h6>
      <button class="bd-button">→</button>
    </div>
  </div>
</div>
