---
title: Welcome
layout: 'layouts/content.njk'
tags: main
---

<section class="bd-stage">
  <p><b>Bento</b> is an easy to use component library that helps you achieve a great page experience.</p>
  <button class="bd-button">Start learning</button>
  <button class="bd-button --inverted">Documentation</button>
</section>