---
title: Welcome
layout: 'layouts/content.njk'
tags: main
---

<div class="bd-page__container bd-theme--dark">
  <section class="bd-stage">
    <p>
      <b>Bento</b> is an easy to use component library that helps you achieve a
      great page experience.
    </p>
    <button class="bd-button">Start learning</button>
    <button class="bd-button --inverted">Documentation</button>
  </section>

  <section class="bd-section bd-row bd-row__col-2">
    <div class="bd-row__column">
      <img
        class="bd-section__image"
        src="/assets/img/image-left.png"
        alt="Supported Frameworks"
      />
    </div>

    <div class="bd-row__column">
      <h1 class="bd-section__title">
        Bento works great with frameworks and CMS
      </h1>
      <p class="bd-section__body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <button class="bd-button">Get started with Bento</button>
    </div>
  </section>

  <section class="bd-section bd-row bd-row__col-2 bd-row--reverse">
    <div class="bd-row__column">
      <h1 class="bd-section__title">
        Why Bento and why page experience matters
      </h1>
      <p class="bd-section__body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <button class="bd-button">Read more</button>
    </div>

    <div class="bd-row__column">
      <img
        class="bd-section__image"
        src="/assets/img/image-right.png"
        alt="Bento Features"
      />
    </div>
  </section>
</div>

<hr class="bd-page__divider" />

<div class="bd-page__container bd-theme--light">
  <div>
    <section class="bd-section --spacer bd-row bd-row__col-2">
      <div class="bd-row__column">
        <h1 class="bd-section__title">Bento component demo</h1>
        <p class="bd-section__body">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum.
        </p>
        <div class="bd-link-wrapper">
          <a class="bd-link" href="">➞ All components</a>
        </div>
      </div>
    </section>

    <section class="bd-section bd-row bd-row__col-3 --spacer-64">
      <div class="bd-row__column --vertical">
        <button class="bd-button--light --uppercase">carousel</button>
        <button class="bd-button--light --inverted --uppercase">
          animation
        </button>
        <button class="bd-button--light --inverted --uppercase">
          accordion
        </button>
        <button class="bd-button--light --inverted --uppercase">
          autocomplete
        </button>
      </div>
      <div class="bd-row__column --grow"></div>
    </section>
  </div>

  <section class="bd-section bd-row bd-row__col-2">
    <div class="bd-row__column">
      <h1 class="bd-section__title">Latest news</h1>
      <p class="bd-section__body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <div class="bd-link-wrapper">
        <a class="bd-link" href="">➞ All news</a>
      </div>
    </div>
  </section>
</div>
