---
title: Welcome
layout: 'layouts/content.njk'
tags: main
---

<div class="bd-page__container bd-theme--dark">
  <section class="bd-stage">
    <p>
      <b>Bento</b> is an easy to use component library that helps you achieve a
      great page experience.
    </p>
    <button class="bd-button">Start learning</button>
    <button class="bd-button --inverted">Documentation</button>
  </section>

  <section class="bd-section bd-row bd-row__col-2">
    <div class="bd-row__column">
      <img
        class="bd-section__image"
        src="/assets/img/image-left.png"
        alt="Supported Frameworks"
      />
    </div>

    <div class="bd-row__column">
      <h1 class="bd-section__title">
        Bento works great with frameworks and CMS
      </h1>
      <p class="bd-section__body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <button class="bd-button">Get started with Bento</button>
    </div>
  </section>

  <section class="bd-section bd-row bd-row__col-2 bd-row--reverse">
    <div class="bd-row__column">
      <h1 class="bd-section__title">
        Why Bento and why page experience matters
      </h1>
      <p class="bd-section__body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <button class="bd-button">Read more</button>
    </div>

    <div class="bd-row__column">
      <img
        class="bd-section__image"
        src="/assets/img/image-right.png"
        alt="Bento Features"
      />
    </div>
  </section>
</div>

<hr class="bd-page__divider" />

<div class="bd-page__container bd-theme--light">
  <div>
    <section class="bd-section --spacer bd-row bd-row__col-2">
      <div class="bd-row__column">
        <h1 class="bd-section__title">Bento component demo</h1>
        <p class="bd-section__body">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum.
        </p>
        <div class="bd-link-wrapper">
          <a class="bd-link" href="">➞ All components</a>
        </div>
      </div>
    </section>

    <section class="bd-section bd-row bd-row__col-3 --spacer-64">
      {%- include '../_includes/partials/demo.njk' -%}
    </section>

    <section class="bd-latest-news">
      <section class="bd-section bd-row bd-row__col-2">
        <div class="bd-row__column">
          <h1 class="bd-section__title">Latest news</h1>
          <p class="bd-section__body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum.
          </p>
          <div class="bd-link-wrapper">
            <a class="bd-link" href="">➞ All news</a>
          </div>
        </div>
      </section>

      <div class="bd-card-group">
        <div class="bd-card--one bd-card--burnt-sienna">
          <img
            class="bd-card__image"
            src="/assets/img/image-1-1-copy.webp"
            alt="Better video performance"
          />
          <p class="bd-card__body">
            Lorem ipsum dolor sit rest est in amet ner di moin
          </p>
          <p class="bd-card__footer">August 26, 2021</p>
        </div>
        <div class="bd-card--two bd-card--elephant-green">
          <p class="bd-card__body">
            Lorem ipsum dolor sit rest est in amet ner di moin
          </p>
          <p class="bd-card__footer">August 26, 2021</p>
        </div>
        <div class="bd-card--three bd-card--naples-yellow">
          <p class="bd-card__body">
            Lorem ipsum dolor sit rest est in amet ner di moin
          </p>
          <p class="bd-card__footer">August 26, 2021</p>
        </div>
        <div class="bd-card--four bd-card--light-sea-green">
          <img
            class="bd-card__image"
            src="/assets/img/image-1-1-copy-2.webp"
            alt="Web Stories"
          />
          <p class="bd-card__body">
            Lorem ipsum dolor sit rest est in amet ner di moin
          </p>
          <p class="bd-card__footer">August 26, 2021</p>
        </div>
      </div>
    </section>
  </div>
</div>
