<section class="bd-components-list">
  <h2 id="components">{{ i18n.components.all }}</h1>
 {%- for category in collections.componentCategories -%}
      <h2 id="{{ category.id }}">{{ i18n.categories[category.id] }}</h1>
      <ul>
      {%- for component in category.components -%}
          <li>
            <h6><a class="bd-link" href="{{ component.url }}">{{ component.data.title }}</a></h6>
            <p>{{ component.data.description | safe }}</p>
            </a>
          </li>
        {%- endfor -%}
      </ul>
 {%- endfor -%}
</section>