<section class="bd-components-list">
 {%- for category in collections.componentCategories -%}
      <h3 id="{{ category.id }}">{{ i18n.categories[category.id] }}</h3>
      <ul>
      {%- for component in category.components -%}
          <li>
            <h4><a class="bd-link" href="{{ component.url }}">{{ component.data.short_title }}</a></h4>
            <p>{{ component.data.description | safe }}</p>
            </a>
          </li>
        {%- endfor -%}
      </ul>
 {%- endfor -%}
</section>