<bento-sidebar id="bd-components" side="left">
  <nav toolbar="(min-width: 1024px)" toolbar-target="bd-components-target">
    <div class="bd-sidebar__contents bd-sidebar__contents--components">
      <ul>
        {%- for component in collections.components -%}
          <li>
            <a class="bd-link" href="{{ component.url }}">{{ component.data.short_title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </nav>
</bento-sidebar>
<div class="bd-sidebar__target" id="bd-components-target"></div>
