{% macro components() %}
  <nav>
    <div class="bd-sidebar__contents bd-sidebar__contents--components">
      <ul>
        {%- for component in collections.components -%}
          <li>
            <a class="bd-link" href="{{ component.url }}">{{ component.data.short_title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </nav>
{% endmacro %}
<bento-sidebar class="bd-sidebar" id="bd-components" side="left" hidden>
  {{ components() }}
</bento-sidebar>
<div class="bd-sidebar__target">
  {{ components() }}
</div>