<section class="bd-most-used">
  <h2 id="highlighted-components">{{ i18n.components.most_used }}</h2>

  <div class="bd-card-group">
 {%- for highlight in collections.highlights -%}
    <a class="bd-card {{ highlight.class }}" href="{{ highlight.component.url }}">
      <span class="bd-card__title">{{ highlight.component.data.title | safe }}</span>
      <span class="bd-card__body">{{ highlight.component.data.description | safe }}</span>
    </a>
  {%- endfor -%}

  </div>
</section>