<div class="bd-sidebar-controls">
  <div class="bd-sidebar-controls__buttons">
    <button id="bd-button-components" class="bd-button--burnt-sienna">
      {{ 'i18n.misc.all_components' | i18n(locale) }}
    </button>
    <button id="bd-button-toc" class="bd-button--light">
      {{ 'i18n.misc.toc' | i18n(locale) }}
    </button>
  </div>
</div>