<section class="bd-demo">
  <div class="bd-demo-button-group">
    <button id="bd-button-carousel" class="bd-button--light --uppercase">carousel</button>
    <button id="bd-button-accordion" class="bd-button--light --inverted --uppercase">accordion</button>
    <button id="bd-button-sidebar" class="bd-button--light --inverted --uppercase">sidebar</button>
    <button id="bd-button-social-share" class="bd-button--light --inverted --uppercase">social share</button>
  </div>

  <div class="bd-demo-code">
    <div class="bd-demo-code__snippet">
      <div class="bd-demo-carousel">
        {% highlight 'html' %}
        {%- include 'partials/demo/carousel.njk' -%}
        {% endhighlight %}
      </div>
      <div class="bd-demo-accordion --hide">
        {% highlight 'html' %}
        {%- include 'partials/demo/accordion.njk' -%}
        {% endhighlight %}
      </div>
      <div class="bd-demo-sidebar --hide">
        {% highlight 'html' %}
        {%- include 'partials/demo/sidebar.njk' -%}
        {% endhighlight %}
      </div>
      <div class="bd-demo-social-share --hide">
        {% highlight 'html' %}
        {%- include 'partials/demo/social-share.njk' -%}
        {% endhighlight %}
      </div>
    </div>
    <div class="bd-demo-code__result">
      <div class="bd-demo-carousel">
        {%- include 'partials/demo/carousel.njk' -%}
      </div>
      <div class="bd-demo-accordion --hide">
        {%- include 'partials/demo/accordion.njk' -%}
      </div>
      <div class="bd-demo-sidebar --hide">
        {%- include 'partials/demo/sidebar.njk' -%}
      </div>
      <div class="bd-demo-social-share --hide">
        {%- include 'partials/demo/social-share.njk' -%}
      </div>
    </div>
  </div>
</section>
