<div class="bd-react-sample">

<div class="bd-react-sample__code">

{% highlight 'bash' %}
npm install @bentoproject/bento-fit-text
{% endhighlight %}
</div>

<div class="bd-react-sample__code">
{% highlight 'jsx' %}
import React from "react";
import { BentoFitText } from "@bentoproject/bento-fit-text/react";
import "@bentoproject/bento-fit-text/styles.css";

function App() {
  return (
    <BentoFitText>
      Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque
      inermis reprehendunt.
    </BentoFitText>
  );
}
{% endhighlight %}
</div>
</div>