<div class="bd-web-component-sample">
<h3>Install `bento-fit-text` via npm</h3>

<div class="bd-web-component-sample__code">
{% highlight 'html' %}
npm install @ampproject/bento-fit-text
{% endhighlight %}
</div>

<div class="bd-web-component-sample__code">
{% highlight 'html' %}
import '@ampproject/bento-fit-text';
{% endhighlight %}
</div>

<h3 class="spacer-xxl">Use `bento-fit-text`via CDN</h3>

<div class="bd-web-component-sample__code">
{% highlight 'html' %}
<head>
  <script src="https://cdn.ampproject.org/custom-elements-polyfill.js"></script>
  <script async custom-element="bento-fit-text" src="https://cdn.ampproject.org/v0/bento-fit-text-1.0.js"></script>
  <!-- These styles prevent Cumulative Layout Shift on the unupgraded custom element.  -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.ampproject.org/v0/bento-fit-text-1.0.css" />-->
  <style>
    bento-fit-text {
      display: block;
      overflow: hidden;
      position: relative;
    }
  </style>
</head>
<bento-fit-text id="my-fit-text">
  Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque
  inermis reprehendunt.
</bento-fit-text>
{% endhighlight %}
</div>
</div>
