<div class="bd-web-component-sample">
<h3>Install `bento-fit-text` via npm</h3>

<div class="bd-web-component-sample__code bd-copy-pasteable">
{% highlight 'html' %}
npm install @bentoproject/bento-fit-text
{% endhighlight %}
</div>

<div class="bd-web-component-sample__code bd-copy-pasteable">
{% highlight 'html' %}
import '@bentoproject/bento-fit-text';
{% endhighlight %}
</div>

<h3 class="spacer-xxl">Use `bento-fit-text`via CDN</h3>

<div class="bd-web-component-sample__code bd-copy-pasteable">
{% highlight 'html' %}
<!DOCTYPE html>
<html>
  <head>
    <script nomodule src="https://cdn.ampproject.org/bento.js"></script>
    <script
      async
      type="module"
      src="https://cdn.ampproject.org/bento.mjs"
    ></script>
    <script
      async
      nomodule
      src="https://cdn.ampproject.org/v0/bento-fit-text-1.0.js"
    ></script>
    <script
      async
      type="module"
      src="https://cdn.ampproject.org/v0/bento-fit-text-1.0.mjs"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.ampproject.org/v0/bento-fit-text-1.0.css"
    />
  </head>
  <body>
    <bento-fit-text style="width: 400px; height: 300px">
      Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque
      inermis reprehendunt.
    </bento-fit-text>
  </body>
</html>
{% endhighlight %}
</div>
</div>
