---
title: Not found
layout: 'layouts/content.njk'
---

<div class="bd-page-not-found bd-page__container bd-theme--dark">
  <div class="bd-not-found">
    <section class="bd-not-found__section">
      <h1>{{ i18n.title }}</h1>
      <h2>{{ i18n.message }}</h2>
      <a class="bd-button" href="/">{{ i18n.cta }}</a>
    </section>
    <svg class="bd-not-found__bg-image">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/assets.svg#404"></use>
    </svg>
  </div>
</div>