---
title: Documentation
description: Guides and tutorials on how to use Bento Components in practice.
---
{% extends "layouts/base.njk" %}
{% block head %}
  <script src="{{ helpers.addHashQueryParam('/assets/js/documentation.js') }}" async></script>
  <script type="module" src="https://cdn.ampproject.org/v0/bento-sidebar-1.0.mjs"></script>
  <script async type="nomodule"  src="https://cdn.ampproject.org/v0/bento-sidebar-1.0.js"></script>
  <style>
  bento-sidebar[hidden]{display:none!important}bento-sidebar{color:#000;background-color:#efefef;height:100vh;top:0;max-height:100vh!important;max-width:80vw;min-width:45px!important;outline:none;z-index:2147483647}bento-sidebar::part(c),bento-sidebar::part(sidebar),bento-sidebar::part(wrapper){color:inherit;background-color:inherit;height:inherit;top:inherit;max-height:inherit;max-width:inherit;min-width:inherit;outline:inherit;z-index:inherit;width:inherit;padding:inherit;border:inherit}bento-sidebar{visibility:hidden!important;position:fixed!important}bento-sidebar::part(c){visibility:visible!important}
  </style>
{% endblock %}
{% block content %}
<main class="bd-page-components-overview bd-theme--light">
  <div class="bd-page-components-overview-container">
    {%- include 'partials/components/list.njk' -%}
    <div class="bd-page-components-overview-container__main">
      <svg class="bd-page-components-overview-background">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/assets/assets.svg#icon-logo-bento"
        ></use>
      </svg>
      <h1>{{ i18n.components.headline }}</h1>
      {%- include 'partials/components/most-used.njk' -%}
      {%- include 'partials/components/components-list.njk' -%}
    </div>
  </div>
</main>
{% endblock %}
{% block footer %}
  {%- include 'partials/components/sidebar-controls.njk' -%}
  {% include 'partials/footer.njk' %}
{% endblock %}