/* inter-latin-variable – variable */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/inter-latin.var.woff2') format('woff2-variations');
}

/* roboto-mono-variable - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/roboto-mono-latin.var.woff2')
    format('woff2-variations');
}
