@import 'config';
@import 'fonts';

@import 'components/_page';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_stage';
@import 'components/_button';
@import 'components/_link';
@import 'components/_language-selector';
@import 'components/_row';
@import 'components/_section';

html,
body {
  padding: 0;
  margin: 0;
  min-width: 240px;
  color: var(--black);
  background-color: var(--burnt-sienna);
  font-size: var(--font-size-16);
  font-family: var(--font-sans);
  font-weight: var(--normal);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

body {
  display: grid;
  grid-template-columns: auto minmax(240px, 1680px) auto;
  grid-gap: 16px;
}

a {
  text-decoration: none;
  font-weight: var(--bold);

  &:visited {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}
