@import 'config';
@import 'fonts';

@import 'components/announcement-banner';
@import 'components/_page';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_stage';
@import 'components/_button';
@import 'components/_clipboard';
@import 'components/_link';
@import 'components/_language-selector';
@import 'components/_row';
@import 'components/_section';
@import 'components/_theme';
@import 'components/_code';
@import 'components/_card';
@import 'components/_card-image';
@import 'components/_example';
@import 'components/_sidebar-controls';
@import 'components/_scrollbar';
@import 'components/_sidebar';
@import 'components/_demo';
@import 'components/_component-doc';

@import 'pages/_home';
@import 'pages/_get-started';
@import 'pages/_components';
@import 'pages/_documentation';
@import 'pages/_blog-overview';
@import 'pages/_post';
@import 'pages/_404';

html,
body {
  padding: 0;
  margin: 0;
  min-width: 240px;
  background-color: var(--maastricht-blue);
  font-size: var(--font-size-16);
  font-family: var(--font-sans);
  font-weight: var(--normal);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  display: grid;
}

a {
  text-decoration: none;
  font-weight: var(--bold);
  color: var(--independence);

  &:visited {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
}

img {
  content-visibility: auto;
  max-width: 100%;
  height: auto;
}

iframe {
  content-visibility: auto;
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
}

h1,
h2,
p,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.--uppercase {
  text-transform: uppercase;
}

.--main-overflow {
  overflow: hidden;

  @include media('large') {
    overflow: scroll;
  }
}
